[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.32.2"
click = "==7.1.2"
certifi = "==2024.7.4"
chardet = "==4.0.0"
decorator = "==4.4.2"
idna = "==3.7"
six = "==1.15.0"
urllib3 = "==1.26.19"
validators = "==0.18.2"

[dev-packages]

[requires]
python_version = "3.8"
