[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.25.1"
click = "==7.1.2"
certifi = "==2020.12.5"
chardet = "==4.0.0"
decorator = "==4.4.2"
idna = "==2.10"
six = "==1.15.0"
urllib3 = "==1.26.3"
validators = "==0.18.2"

[dev-packages]

[requires]
python_version = "3.8"
